# Dublin House Price Scraper

In [1]:
import pandas as pd
import requests
import re

from bs4 import BeautifulSoup
from datetime import datetime
from selenium import webdriver

### Retrieve all Ranelagh properties for sale

In [8]:
# For scraping JS content
browser = webdriver.Chrome('/Users/OliverM/Code/Scraping/chromedriver')

url_d6 = 'http://www.daft.ie/dublin/houses-for-sale/dublin-6/?s%5Bsort_by%5D=price&s%5Bsort_type%5D=d'
url_d4 = 'http://www.daft.ie/dublin/houses-for-sale/dublin-4/?s%5Bsort_by%5D=price&s%5Bsort_type%5D=d'

In [9]:
browser.get(url_d6) #navigate to the page
innerHTML = browser.execute_script("return document.body.innerHTML")
soup6 = BeautifulSoup(innerHTML, 'lxml')

In [10]:
browser.get(url_d4) #navigate to the page
innerHTML = browser.execute_script("return document.body.innerHTML")
soup4 = BeautifulSoup(innerHTML, 'lxml')

### Extract price of each property

In [30]:
price4 = soup4.find_all("strong", {"class": "price"})
price6 = soup6.find_all("strong", {"class": "price"})
price = price4 + price6

clean_prices = []
for i in price:
    clean = i.text.strip()
    clean_prices.append(clean)


for n, i in enumerate(clean_prices):
    num = i[1:len(i)]
    clean_prices[n] = num

### Extract address and link of each property

In [29]:
address4 = soup4.select('div div h2 a')
address6 = soup6.select('div div h2 a')
address = address4 + address6

clean_address = []
clean_address2 = []
clean_links = []
for i in address:
    txt = i.text.strip()
    clean_address.append(txt)
    clean_links.append(i['href'])

for i in clean_address:
    clean_txt = i.split(', Dublin', 1)[0].strip()
    clean_address2.append(clean_txt)

### For each property, extract floor area, description

In [18]:
clean_floor_area = []
clean_desc = []

for i in clean_links:
    prop_url = 'http://www.daft.ie/'+ i
    browser = webdriver.Chrome('/Users/OliverM/Code/Scraping/chromedriver')
    browser.get(prop_url) #navigate to the page
    innerHTML_desc = browser.execute_script("return document.body.innerHTML")
    soup_desc = BeautifulSoup(innerHTML_desc, 'lxml')
    
    space = soup_desc.find_all('div', {'class': 'description_block'})
    sqm = space[1].text.strip()
    clean_floor_area.append(sqm)
    
    desc = soup_desc.find_all('span', {'class': 'header_text'})
    for n, i in enumerate(desc):
        desc_strip = i.text.strip()
        desc[n] = desc_strip
    clean_desc.append(desc)

In [20]:
for n, i in enumerate(clean_floor_area):
    if 'Overall Floor Area:' not in i:
        clean_floor_area[n] = ''

In [28]:
clean_floor_area_strip = []

for i in clean_floor_area:
    sqm_clean = i.split('Sq. Metres', 1)[0]
    sqm_clean = sqm_clean.split('Overall Floor Area: ', 1)[-1]
    clean_floor_area_strip.append(sqm_clean)

### Create DataFrame

In [22]:
df = pd.DataFrame({'Address': clean_address2, 
                   'Description': clean_desc,
                   'Price': clean_prices, 
                   'Link': clean_links, 
                   'Floor Area': clean_floor_area, 
                   'Sqm': clean_floor_area_strip})

In [23]:
df['Price'] = df['Price'].str.replace(',', '')
df[['Price','Sqm']] = df[['Price','Sqm']].apply(pd.to_numeric)
df['Description'] = df['Description'].apply(lambda x: ', '.join(x))

In [24]:
df['Price / Sqm'] = df['Price'] / df['Sqm']

In [31]:
file_date = datetime.now().strftime("%y%m%d")
df.to_csv(file_date + ' - Dublin Property Prices.csv', index=False)

In [235]:
# test_url = 'http://www.daft.ie/dublin/apartments-for-sale/ranelagh/44-cullenswood-house-northbrook-avenue-ranelagh-dublin-1519797/'
# browser = webdriver.Chrome('/Users/OliverM/Code/Scraping/chromedriver')
# browser.get(test_url) #navigate to the page
# innerHTML_test = browser.execute_script("return document.body.innerHTML")
# soup_test = BeautifulSoup(innerHTML_test, 'lxml')

In [25]:
df

,Address,Description,Floor Area,Link,Price,Sqm,Price / Sqm
0,"81 Park Avenue, Sandymount","Detached House, 5 Beds, 3 Baths","Overall Floor Area: 316.98 Sq. Metres (3,412 S...",/dublin/houses-for-sale/sandymount/81-park-ave...,4600000,316.98,14511.956590
1,"25 Raglan Road, Ballsbridge","Terraced House, 5 Beds, 4 Baths","Overall Floor Area: 404 Sq. Metres (4,349 Sq. ...",/dublin/houses-for-sale/ballsbridge/25-raglan-...,4150000,404.00,10272.277228
2,"16 Wellington Road, Ballsbridge","End of Terrace House, 4 Beds, 4 Baths","Overall Floor Area: 303 Sq. Metres (3,261 Sq. ...",/dublin/houses-for-sale/ballsbridge/16-welling...,3750000,303.00,12376.237624
3,"10 Greenfield Crescent, Donnybrook","Detached House, 5 Beds, 5 Baths","Overall Floor Area: 373 Sq. Metres (4,015 Sq. ...",/dublin/houses-for-sale/donnybrook/10-greenfie...,3000000,373.00,8042.895442
4,"Ballsbridge, Ballsbridge","Detached House, 5 Beds, 4 Baths","Overall Floor Area: 185.8 Sq. Metres (2,000 Sq...",/dublin/houses-for-sale/ballsbridge/ballsbridg...,3000000,185.80,16146.393972
5,"57 Wellington Road, Ballsbridge","Terraced House, 4 Beds, 2 Baths",,/dublin/houses-for-sale/ballsbridge/57-welling...,3000000,NaN,NaN
6,"3 Seaview Terrace, Off Ailesbury Road","Semi-Detached House, 6 Beds, 6 Baths","Overall Floor Area: 463.9 Sq. Metres (4,993 Sq...",/dublin/houses-for-sale/dublin-4/3-seaview-ter...,2950000,463.90,6359.129123
7,"61 Wellington Road, Ballsbridge","Terraced House, 3 Beds, 3 Baths","Overall Floor Area: 285.95 Sq. Metres (3,078 S...",/dublin/houses-for-sale/ballsbridge/61-welling...,2950000,285.95,10316.488897
8,"40 Herbert Park, Ballsbridge","Detached House, 5 Beds, 3 Baths","Overall Floor Area: 300 Sq. Metres (3,229 Sq. ...",/dublin/houses-for-sale/ballsbridge/40-herbert...,2800000,300.00,9333.333333
9,"22 Elgin Road, Ballsbridge","Detached House, 10 Beds, 8 Baths","Overall Floor Area: 418.02 Sq. Metres (4,500 S...",/dublin/houses-for-sale/ballsbridge/22-elgin-r...,2750000,418.02,6578.632601
10,"10 Edward Square, Donnybrook","Terraced House, 4 Beds","Overall Floor Area: 400 Sq. Metres (4,306 Sq. ...",/dublin/houses-for-sale/donnybrook/10-edward-s...,2495000,400.00,6237.500000
11,"Glendarragh, 70 Merrion Road, Ballsbridge","Semi-Detached House, 4 Beds, 3 Baths","Overall Floor Area: 202 Sq. Metres (2,174 Sq. ...",/dublin/houses-for-sale/ballsbridge/glendarrag...,2300000,202.00,11386.138614
12,106 Upper Leeson Street,"Terraced House, 3 Beds, 2 Baths","Overall Floor Area: 183 Sq. Metres (1,970 Sq. ...",/dublin/houses-for-sale/dublin-4/106-upper-lee...,1495000,183.00,8169.398907
13,"Merrion Road, Ballsbridge","Semi-Detached House, 4 Beds, 2 Baths",,/dublin/houses-for-sale/ballsbridge/merrion-ro...,1450000,NaN,NaN
14,"79 Tritonville Road, Sandymount","Terraced House, 5 Beds, 4 Baths","Overall Floor Area: 224 Sq. Metres (2,411 Sq. ...",/dublin/houses-for-sale/sandymount/79-tritonvi...,1400000,224.00,6250.000000
15,"1 Sydney Parade Avenue, Ballsbridge","Semi-Detached House, 5 Beds, 2 Baths","Overall Floor Area: 195.1 Sq. Metres (2,100 Sq...",/dublin/houses-for-sale/ballsbridge/1-sydney-p...,1350000,195.10,6919.528447
16,"The Moorings, 9 Gilford Road, Sandymount","Semi-Detached House, 4 Beds, 3 Baths","Overall Floor Area: 184 Sq. Metres (1,981 Sq. ...",/dublin/houses-for-sale/sandymount/the-mooring...,1300000,184.00,7065.217391
17,"Ardilea Crescent, Clonskeagh","Semi-Detached House, 4 Beds, 4 Baths","Overall Floor Area: 225 Sq. Metres (2,422 Sq. ...",/dublin/houses-for-sale/clonskeagh/ardilea-cre...,1175000,225.00,5222.222222
18,"1 Iveragh Court, Ballsbridge","End of Terrace House, 4 Beds, 3 Baths","Overall Floor Area: 130 Sq. Metres (1,399 Sq. ...",/dublin/houses-for-sale/ballsbridge/1-iveragh-...,1100000,130.00,8461.538462
19,"5 Strand Mews, Sandymount","Terraced House, 3 Beds, 3 Baths","Overall Floor Area: 122.82 Sq. Metres (1,322 S...",/dublin/houses-for-sale/sandymount/5-strand-me...,995000,122.82,8101.286435
20,"52 Orwell Park, Rathgar","Detached House, 5 Beds, 5 Baths","Overall Floor Area: 480 Sq. Metres (5,167 Sq. ...",/dublin/houses-for-sale/rathgar/52-orwell-park...,3500000,480.00,7291.666667
21,"24 Northbrook Road, Ranelagh","Semi-Detached House, 5 Beds, 3 Baths","Overall Floor Area: 314.53 Sq. Metres (3,386 S...",/dublin/houses-for-sale/ranelagh/24-northbrook...,2100000,314.53,6676.628620
22,"82 Highfield Road, Rathgar","Semi-Detached House, 5 Beds, 2 Baths","Overall Floor Area: 261.98 Sq. Metres (2,820 S...",/dublin/houses-for-sale/rathgar/82-highfield-r...,1850000,261.98,7061.607756
23,"39 Garville Avenue Upper, Rathgar","End of Terrace House, 11 Beds, 8 Baths","Overall Floor Area: 336 Sq. Metres (3,617 Sq. ...",/dublin/houses-for-sale/rathgar/39-garville-av...,1850000,336.00,5505.952381
24,"2 Green Park, Orwell Road, Rathgar","Detached House, 5 Beds, 2 Baths","Overall Floor Area: 230 Sq. Metres (2,476 Sq. ...",/dublin/houses-for-sale/rathgar/2-green-park-o...,1775000,230.00,7717.391304
25,"60 Leinster Road, Rathmines","Terraced House, 5 Beds, 3 Baths","Overall Floor Area: 279 Sq. Metres (3,003 Sq. ...",/dublin/houses-for-sale/rathmines/60-leinster-...,1750000,279.00,6272.401434
26,"Lakelands, 113 Templeogue Road, Terenure","Detached House, 4 Beds, 3 Baths","Overall Floor Area: 269.97 Sq. Metres (2,906 S...",/dublin/houses-for-sale/terenure/lakelands-113...,1695000,269.97,6278.475386
27,"Eagle Lodge, 36 Rathgar Avenue, Rathgar","Detached House, 4 Beds, 2 Baths","Overall Floor Area: 250 Sq. Metres (2,691 Sq. ...",/dublin/houses-for-sale/rathgar/eagle-lodge-36...,1395000,250.00,5580.000000
28,"Dunmore, 66 Brighton Road, Rathgar","Semi-Detached House, 4 Beds, 4 Baths","Overall Floor Area: 209.96 Sq. Metres (2,260 S...",/dublin/houses-for-sale/rathgar/dunmore-66-bri...,1375000,209.96,6548.866451
29,"98 Lower Rathmines Road, Rathmines","Terraced House, 10 Beds, 8 Baths","Overall Floor Area: 347 Sq. Metres (3,735 Sq. ...",/dublin/houses-for-sale/rathmines/98-lower-rat...,1300000,347.00,3746.397695
30,"46 Rathgar Avenue, Rathgar","End of Terrace House, 4 Beds, 3 Baths","Overall Floor Area: 197.97 Sq. Metres (2,131 S...",/dublin/houses-for-sale/rathgar/46-rathgar-ave...,1290000,197.97,6516.138809
31,"46 Edenvale Road, Ranelagh","Semi-Detached House, 3 Beds, 2 Baths","Overall Floor Area: 170 Sq. Metres (1,830 Sq. ...",/dublin/houses-for-sale/ranelagh/46-edenvale-r...,1200000,170.00,7058.823529
32,"23 Frankfort Avenue, Rathgar","Terraced House, 3 Beds, 3 Baths","Overall Floor Area: 187.94 Sq. Metres (2,023 S...",/dublin/houses-for-sale/rathgar/23-frankfort-a...,1195000,187.94,6358.412259
33,"Ormond Road, Rathmines","End of Terrace House, 9 Beds, 8 Baths","Overall Floor Area: 203.61 Sq. Metres (2,192 S...",/dublin/houses-for-sale/rathmines/ormond-road-...,1175000,203.61,5770.836403
34,"130 Lr Rathmines Road, Rathmines","Terraced House, 13 Beds, 10 Baths","Overall Floor Area: 324 Sq. Metres (3,488 Sq. ...",/dublin/houses-for-sale/rathmines/130-lr-rathm...,1150000,324.00,3549.382716
35,"4 Bedroom Mews, Garville Drive, Rathgar","Detached House, 4 Beds","Overall Floor Area: 186 Sq. Metres (2,002 Sq. ...",/dublin/houses-for-sale/rathgar/4-bedroom-mews...,1075000,186.00,5779.569892
36,"13 Kenilworth Road, Rathgar","Terraced House, 8 Beds, 7 Baths","Overall Floor Area: 200 Sq. Metres (2,153 Sq. ...",/dublin/houses-for-sale/rathgar/13-kenilworth-...,1050000,200.00,5250.000000
37,"22 Dartry Park, Rathgar","Detached House, 4 Beds, 1 Bath","Overall Floor Area: 144 Sq. Metres (1,550 Sq. ...",/dublin/houses-for-sale/rathgar/22-dartry-park...,1000000,144.00,6944.444444
38,"47 Fortfield Park, Terenure","Semi-Detached House, 5 Beds, 4 Baths","Overall Floor Area: 233 Sq. Metres (2,508 Sq. ...",/dublin/houses-for-sale/terenure/47-fortfield-...,995000,233.00,4270.386266
39,"68 Kenilworth Square, Rathgar","Terraced House, 7 Beds, 7 Baths","Overall Floor Area: 230 Sq. Metres (2,476 Sq. ...",/dublin/houses-for-sale/rathgar/68-kenilworth-...,995000,230.00,4326.086957

In [26]:
df.describe()

              Price         Sqm   Price / Sqm
count  4.000000e+01   38.000000     38.000000
mean   1.943125e+06  262.408684   7375.095902
std    9.703295e+05   91.102738   2705.145390
min    9.950000e+05  122.820000   3549.382716
25%    1.190000e+06  195.817500   5894.052419
50%    1.472500e+06  231.500000   6627.630611
75%    2.762500e+06  316.367500   8086.688687
max    4.600000e+06  480.000000  16146.393972