# UK Places To Live

In [2]:
import pandas as pd
import numpy as np
import scipy as sp

import plotly.plotly as py
py.sign_in('omeyrick', 'NyFF5cQrthBm4tIAxPvH')
from plotly.tools import FigureFactory as ff

### UK Postcodes To Lat/Lon

In [3]:
df_postcodes = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/Base_data/ukpostcodes.csv")
df_postcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738223 entries, 0 to 1738222
Data columns (total 4 columns):
id           int64
postcode     object
latitude     float64
longitude    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.0+ MB

### Top Places To Live

* 2016 Halifax Qualify of Life Survey: https://static.halifax.co.uk/assets/pdf/mortgages/pdf/161217-Halifax-Quality-of-Life%202016-FINAL.pdf
* Daily Mail Top 100 Places To Live: http://www.thisismoney.co.uk/money/mortgageshome/article-3221296/The-100-best-places-families-live-revealed.html

In [4]:
df_qol = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/Halifax_quality_of_life.csv")
df_qol.head()

,Local Authority,Region,Rank,link,location,latitude,longitude
0,Winchester,South East,1,https://en.wikipedia.org/wiki/Winchester,51.0632Â°N 1.308Â°W,51.0632,-1.308
1,Orkney Islands,Scotland,2,https://en.wikipedia.org/wiki/Orkney_Islands,59Â°N 3Â°W,59.0000,-3.000
2,Wychavon,West Midlands,3,https://en.wikipedia.org/wiki/Wychavon,52.114Â°N 2.081Â°W,52.1140,-2.081
3,Derbyshire Dales,East Midlands,4,https://en.wikipedia.org/wiki/Derbyshire_Dales,53.05Â°N 1.70Â°W,53.0500,-1.700
4,Hambleton,Yorkshire and The Humber,5,https://en.wikipedia.org/wiki/Hambleton,54.334Â°N 1.429Â°W,54.3340,-1.429

In [5]:
df_places = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/DM_Top_100_Places_to_live.csv")
df_places = df_places.sort_values(by='scores highly on')
df_places = df_places.merge(df_postcodes, on = 'postcode', how = 'left')
df_places.head()
#table2 = ff.create_table(df_places)
#py.iplot(table2)

,rank,postcode,street name,locality,scores highly on,scores less well on,id,latitude,longitude
0,1,SK10 5SG,Shrigley Road,Bollington,Activities,Childcare,364076,53.331510,-2.079378
1,19,CR6 9PD,Harrow Road,Warlingham,Activities,NCT community,1403610,51.316421,-0.035617
2,22,LE9 7TF,Enderby Road,Thurlaston,Activities,Schools,903891,52.588841,-1.254706
3,23,WA4 4JL,Marsh Lane,Lower Whitley,Activities,Schools,87215,53.307662,-2.614287
4,66,LE18 3SH,Newton Lane,Wigston,Activities,Childcare,916457,52.575904,-1.080679

### UK Tech Centres

Sourced from http://www.techcityuk.com/

In [6]:
df_tech = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/top_tech_cities.csv")
df_tech = df_tech.merge(df_postcodes, on = 'postcode', how = 'left')

#table = ff.create_table(df_tech)
#py.iplot(table)

### Best Places For Artists

Sourced from random articles online. Could find a better proxy (theatres?)

In [7]:
df_art = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/artistic_locations.csv")
df_art = df_art.merge(df_postcodes, on = 'postcode', how = 'left')
df_art.head(5)

              location  postcode       id   latitude  longitude
0              St Ives  TR26 2DS   158205  50.211618  -5.479880
1            Aldeburgh  IP15 5DS  1019136  52.154941   1.602925
2                Lewes   BN7 2QS  1540096  50.873543   0.010354
3           Hay-on-Wye   HR3 5BL  1052486  52.075093  -3.124624
4  Stratford-upon-Avon  CV37 6EF  1373985  52.191333  -1.705438

### Schools: HMC Schools

Sourced from https://en.wikipedia.org/wiki/Headmasters'_and_Headmistresses'_Conference

In [8]:
df_hmc = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/hmc_schools_postcode.csv")
df_hmc = df_hmc.merge(df_postcodes, on = 'postcode', how = 'left')
df_hmc.head(5)

,hmc school,wikipedia link,postcode,id,latitude,longitude
0,"The Abbey School, Reading",https://en.wikipedia.org/wiki/The_Abbey_School...,RG1 5DZ,502311.0,51.448619,-0.962739
1,Abingdon School,https://en.wikipedia.org/wiki/Abingdon_School,OX14 1DE,612789.0,51.672989,-1.288396
2,Ackworth School,https://en.wikipedia.org/wiki/Ackworth_School,WF7 7LT,57152.0,53.649536,-1.334989
3,Arnold KEQMS,https://en.wikipedia.org/wiki/Arnold_KEQMS,FY8 1DT,1166466.0,53.740840,-3.010122
4,Aldenham School,https://en.wikipedia.org/wiki/Aldenham_School,WD6 3AJ,70347.0,51.663244,-0.327918

### Schools: Outstanding Secondaries

Sourced from https://www.gov.uk/school-performance-tables

In [9]:
df_offsted = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/offsted.csv")
df_offsted = df_offsted.rename(columns={'Postcode': 'postcode'})
df_offsted = df_offsted.merge(df_postcodes, on = 'postcode', how = 'left')

In [10]:
df_secondary_offsted = df_offsted.loc[df_offsted['Phase of education'] == 'Secondary']
df_secondary_offsted = df_secondary_offsted.loc[df_secondary_offsted['Overall effectiveness'] == 1]

### Waitrose Locations

Sourced from http://www.waitrose.com/

In [11]:
df_waitrose = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/waitrose_postcode.csv")
df_waitrose = df_waitrose.merge(df_postcodes, on = 'postcode', how = 'left')

### Crown Post Offices

In [12]:
df_post_offices = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/postoffices.csv")
df_post_offices = df_post_offices.merge(df_postcodes, on = 'postcode', how = 'left')
df_post_offices.head()

    branch_name  postcode         id   latitude  longitude
0    Abbey Wood   SE2 9NN   387408.0  51.489596   0.120750
1   Abergavenny   NP7 5EB   667539.0  51.821699  -3.019567
2   Aberystwyth  SY23 1DE   227742.0  52.414738  -4.084735
3  Acocks Green   B27 6BG  1685622.0  52.446691  -1.822046
4         Acton    W3 9LD   103165.0  51.508181  -0.271983

### Crossrail  / Elizabeth Line locations

Sourced from http://www.crossrail.co.uk/route/maps/

In [13]:
df_crossrail = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/crossrail.csv")
df_crossrail.head()

,cross rail station,tube_link,railway_link,location,latitude,longitude
0,Reading,https://en.wikipedia.org/wiki/Reading_tube_sta...,https://en.wikipedia.org/wiki/Reading_railway_...,51.4590Â°N 0.9722Â°W,51.459,-0.9722
1,Twyford,https://en.wikipedia.org/wiki/Twyford_tube_sta...,https://en.wikipedia.org/wiki/Twyford_railway_...,51.476Â°N 0.863Â°W,51.476,-0.8630
2,Maidenhead,https://en.wikipedia.org/wiki/Maidenhead_tube_...,https://en.wikipedia.org/wiki/Maidenhead_railw...,51.519Â°N 0.723Â°W,51.519,-0.7230
3,Taplow,https://en.wikipedia.org/wiki/Taplow_tube_station,https://en.wikipedia.org/wiki/Taplow_railway_s...,51.524Â°N 0.681Â°W,51.524,-0.6810
4,Burnham,https://en.wikipedia.org/wiki/Burnham_tube_sta...,https://en.wikipedia.org/wiki/Burnham_railway_...,51.524Â°N 0.646Â°W,51.524,-0.6460

### UK International Airports

Source from https://en.wikipedia.org/wiki/List_of_international_airports_by_country#United_Kingdom

In [14]:
df_airports = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/international_airports.csv")
df_airports.head()

,Location,Airport,IATA Code,Passenger Role,2015 Passengers,2015 Daily Avg.,link,location,longitude,latitude
0,Birmingham,Birmingham International Airport,BHX,Medium,"10,187,122","27,910",https://en.wikipedia.org/wiki/Birmingham_Inter...,52°27′14″N001°44′53″W,52.453889,-1.748056
1,Bournemouth,Bournemouth Airport,BOH,Small,"705,403","1,933",https://en.wikipedia.org/wiki/Bournemouth_Airport,50.78000Â°N 1.84250Â°W,50.780000,-1.842500
2,Bristol,Bristol Airport,BRS,Medium,"6,786,790","18,594",https://en.wikipedia.org/wiki/Bristol_Airport,51.38278Â°N 2.71917Â°W,51.382780,-2.719170
3,Cardiff,Cardiff Airport,CWL,Small,"1,160,506","3,179",https://en.wikipedia.org/wiki/Cardiff_Airport,51.39667Â°N 3.34333Â°W,51.396670,-3.343330
4,Doncaster/Sheffield,Robin Hood Airport Doncaster Sheffield,DSA,Small,"856,952","2,348",https://en.wikipedia.org/wiki/Robin_Hood_Airpo...,53.47528Â°N 1.00417Â°W,53.475280,-1.004170

In [15]:
import plotly.plotly as py
from plotly.graph_objs import *

mapbox_access_token = 'pk.eyJ1Ijoib21leXJpY2siLCJhIjoiY2l6dm1uZmM4MDAwdjMzbzBoOGhhNWM3NyJ9.ztyR2B5aLZ49mMfZzEWhig'

data = Data([
    #Scattermapbox(
    #    name='Top 100 Places To Live',
    #    lat=df_places['latitude'],
    #    lon=df_places['longitude'],
    #    text=df_places['street name'],
    #    mode='markers',
    #    marker=Marker(
    #        size=18,
    #        color='rgb(80, 168, 227)',
    #        opacity=0.3
    #    ),
    #),
    Scattermapbox(
        name='Halifax Places To Live Survey',
        lat=df_qol['latitude'],
        lon=df_qol['longitude'],
        text=df_qol['Local Authority'],
        mode='markers',
        marker=Marker(
            size=20,
            color='rgb(80, 168, 227)',
            opacity=0.3
        ),
    ),
    Scattermapbox(
        name='Top Places For Artists',
        lat=df_art['latitude'],
        lon=df_art['longitude'],
        text=df_art['location'],
        mode='markers',
        marker=Marker(
            size=10,
            color='rgb(244,220,191)',
            opacity=0.5
        ),
    ),
    Scattermapbox(
        name='HMC Schools',
        lat=df_hmc['latitude'],
        lon=df_hmc['longitude'],
        text=df_hmc['hmc school'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(13, 71, 161)',
            opacity=0.7
        ),
    ),
    #Scattermapbox(
    #    name='Crown Post Offices',
    #    lat=df_post_offices['latitude'],
    #    lon=df_post_offices['longitude'],
    #    text=df_post_offices['branch_name'],
    #    mode='markers',
    #    marker=Marker(
    #        size=6,
    #        color='rgb(184, 16, 16)',
    #        opacity=0.7
    #    ),
    #),
    Scattermapbox(
        name='Cross Rail Stations',
        lat=df_crossrail['latitude'],
        lon=df_crossrail['longitude'],
        text=df_crossrail['cross rail station'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(156, 39, 176)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        name='Outstanding Secondaries',
        lat=df_secondary_offsted['latitude'],
        lon=df_secondary_offsted['longitude'],
        text=df_secondary_offsted['School name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(33, 150, 243)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        name='Waitrose',
        lat=df_waitrose['latitude'],
        lon=df_waitrose['longitude'],
        text=df_waitrose['store name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(76, 175, 80)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        name='Airports',
        lat=df_airports['latitude'],
        lon=df_airports['longitude'],
        text=df_airports['Airport'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(255, 235, 59)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        name='Top UK Tech Centres',
        lat=df_tech['latitude'],
        lon=df_tech['longitude'],
        text=df_tech['city'],
        mode='markers',
        marker=Marker(
            size=12,
            color='rgb(237, 2, 11)',
            opacity=0.5
        ),
    )]
)

layout = Layout(
    autosize=True,
    hovermode='closest',
    showlegend=True,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=52,
            lon=-1   
        ),
        zoom=6,
        style='basic'
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Places to live')