# UK Places To Live

In [2]:
import pandas as pd
import numpy as np
import scipy as sp

import plotly.plotly as py
py.sign_in('omeyrick', 'NyFF5cQrthBm4tIAxPvH')
from plotly.tools import FigureFactory as ff

### UK Postcodes To Lat/Lon

In [4]:
df_postcodes = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/Base_data/ukpostcodes.csv")
df_postcodes.describe()

                 id      latitude     longitude
count  1.738223e+06  1.738223e+06  1.738223e+06
mean   9.176447e+05  5.275938e+01 -1.736150e+00
std    5.375113e+05  1.626506e+00  1.656172e+00
min    1.000000e+00  4.918194e+01 -8.163139e+00
25%    4.577865e+05  5.150286e+01 -2.733690e+00
50%    9.130330e+05  5.245770e+01 -1.597863e+00
75%    1.367422e+06  5.364991e+01 -3.770669e-01
max    2.587705e+06  1.000000e+02  1.760443e+00

### Top Places To Live

* 2017 Times Places to Live: http://www.thetimes.co.uk/article/sunday-times-best-places-to-live-2017-3qkwjnvrm#/
* 2016 Halifax Qualify of Life Survey: https://static.halifax.co.uk/assets/pdf/mortgages/pdf/161217-Halifax-Quality-of-Life%202016-FINAL.pdf
* Daily Mail Top 100 Places To Live: http://www.thisismoney.co.uk/money/mortgageshome/article-3221296/The-100-best-places-families-live-revealed.html

In [28]:
df_times = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/Times_places_to_live.csv")
df_times.head()

,Place,Region,County,Link,Link2,Geo Merge,latitude,longitude
0,Woodbridge,East,Suffolk,"https://en.wikipedia.org/wiki/Woodbridge,_Suffolk",https://en.wikipedia.org/wiki/Woodbridge,52.0935?N 1.3179?E,52.09350,1.3179
1,Cambridge,East,Cambridgeshire,"https://en.wikipedia.org/wiki/Cambridge,_Cambr...",https://en.wikipedia.org/wiki/Cambridge,52.205?N 0.119?E,52.20500,0.119
2,Aylsham,East,Norfolk,"https://en.wikipedia.org/wiki/Aylsham,_Norfolk",https://en.wikipedia.org/wiki/Aylsham,52.79?N 1.256?E,52.79000,1.256
3,Bungay,East,Suffolk,"https://en.wikipedia.org/wiki/Bungay,_Suffolk",https://en.wikipedia.org/wiki/Bungay,52.4496?N 1.4477?E,52.44960,1.4477
4,Dedham,East,Essex,"https://en.wikipedia.org/wiki/Dedham,_Essex",https://en.wikipedia.org/wiki/Dedham,51.95888?N 0.99341?E,51.95888,0.99341

In [29]:
df_qol = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/Halifax_quality_of_life.csv")
df_qol.head()

,Local Authority,Region,Rank,link,location,latitude,longitude
0,Winchester,South East,1,https://en.wikipedia.org/wiki/Winchester,51.0632Â°N 1.308Â°W,51.0632,-1.308
1,Orkney Islands,Scotland,2,https://en.wikipedia.org/wiki/Orkney_Islands,59Â°N 3Â°W,59.0000,-3.000
2,Wychavon,West Midlands,3,https://en.wikipedia.org/wiki/Wychavon,52.114Â°N 2.081Â°W,52.1140,-2.081
3,Derbyshire Dales,East Midlands,4,https://en.wikipedia.org/wiki/Derbyshire_Dales,53.05Â°N 1.70Â°W,53.0500,-1.700
4,Hambleton,Yorkshire and The Humber,5,https://en.wikipedia.org/wiki/Hambleton,54.334Â°N 1.429Â°W,54.3340,-1.429

### UK Tech Centres

Sourced from http://www.techcityuk.com/

In [30]:
df_tech = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/top_tech_cities.csv")
df_tech = df_tech.merge(df_postcodes, on = 'postcode', how = 'left')
df_tech.head()

,city,digital company growth,number of digital companies,postcode,id,latitude,longitude
0,Inner London,0.92,300169,SE1 2AA,397296,51.504850,-0.078693
1,Greater Manchester,0.70,62653,M60 2LA,818198,53.487361,-2.227197
2,Reading,0.05,45269,RG1 1QH,502535,51.457122,-0.969885
3,Birmingham,0.51,36802,B3 3DQ,1683506,52.479437,-1.903691
4,Bath & Bristol,0.05,35924,BS1 5TR,1530968,51.452606,-2.601982

### Best Places For Artists

Sourced from random articles online. Could find a better proxy (theatres?)

In [31]:
df_art = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/artistic_locations.csv")
df_art = df_art.merge(df_postcodes, on = 'postcode', how = 'left')
df_art.head(5)

              location  postcode       id   latitude  longitude
0              St Ives  TR26 2DS   158205  50.211618  -5.479880
1            Aldeburgh  IP15 5DS  1019136  52.154941   1.602925
2                Lewes   BN7 2QS  1540096  50.873543   0.010354
3           Hay-on-Wye   HR3 5BL  1052486  52.075093  -3.124624
4  Stratford-upon-Avon  CV37 6EF  1373985  52.191333  -1.705438

### Schools: HMC Schools

Sourced from https://en.wikipedia.org/wiki/Headmasters'_and_Headmistresses'_Conference

In [32]:
df_hmc = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/hmc_schools_postcode.csv")
df_hmc = df_hmc.merge(df_postcodes, on = 'postcode', how = 'left')
df_hmc.head(5)

,hmc school,wikipedia link,postcode,id,latitude,longitude
0,"The Abbey School, Reading",https://en.wikipedia.org/wiki/The_Abbey_School...,RG1 5DZ,502311.0,51.448619,-0.962739
1,Abingdon School,https://en.wikipedia.org/wiki/Abingdon_School,OX14 1DE,612789.0,51.672989,-1.288396
2,Ackworth School,https://en.wikipedia.org/wiki/Ackworth_School,WF7 7LT,57152.0,53.649536,-1.334989
3,Arnold KEQMS,https://en.wikipedia.org/wiki/Arnold_KEQMS,FY8 1DT,1166466.0,53.740840,-3.010122
4,Aldenham School,https://en.wikipedia.org/wiki/Aldenham_School,WD6 3AJ,70347.0,51.663244,-0.327918

### Schools: Outstanding Primaries & Secondaries

Sourced from https://www.gov.uk/school-performance-tables

In [33]:
df_offsted = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/offsted.csv")
df_offsted = df_offsted.rename(columns={'Postcode': 'postcode'})
df_offsted = df_offsted.merge(df_postcodes, on = 'postcode', how = 'left')

In [34]:
df_secondary_offsted = df_offsted.loc[df_offsted['Phase of education'] == 'Secondary']
df_secondary_offsted = df_secondary_offsted.loc[df_secondary_offsted['Overall effectiveness'] == 1]

In [35]:
df_primary_offsted = df_offsted.loc[df_offsted['Phase of education'] == 'Primary']
df_primary_offsted = df_primary_offsted.loc[df_primary_offsted['Overall effectiveness'] == 1]

### Waitrose Locations

Sourced from http://www.waitrose.com/

In [36]:
df_waitrose = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/waitrose_postcode.csv")
df_waitrose = df_waitrose.merge(df_postcodes, on = 'postcode', how = 'left')

### Crown Post Offices

In [37]:
df_post_offices = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/postoffices.csv")
df_post_offices = df_post_offices.merge(df_postcodes, on = 'postcode', how = 'left')
df_post_offices.head()

    branch_name  postcode         id   latitude  longitude
0    Abbey Wood   SE2 9NN   387408.0  51.489596   0.120750
1   Abergavenny   NP7 5EB   667539.0  51.821699  -3.019567
2   Aberystwyth  SY23 1DE   227742.0  52.414738  -4.084735
3  Acocks Green   B27 6BG  1685622.0  52.446691  -1.822046
4         Acton    W3 9LD   103165.0  51.508181  -0.271983

### Crossrail  / Elizabeth Line locations

Sourced from http://www.crossrail.co.uk/route/maps/

In [38]:
df_crossrail = pd.read_csv('https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/crossrail.csv')
df_crossrail.head()

,cross rail station,tube_link,railway_link,location,latitude,longitude
0,Reading,https://en.wikipedia.org/wiki/Reading_tube_sta...,https://en.wikipedia.org/wiki/Reading_railway_...,51.4590Â°N 0.9722Â°W,51.459,-0.9722
1,Twyford,https://en.wikipedia.org/wiki/Twyford_tube_sta...,https://en.wikipedia.org/wiki/Twyford_railway_...,51.476Â°N 0.863Â°W,51.476,-0.8630
2,Maidenhead,https://en.wikipedia.org/wiki/Maidenhead_tube_...,https://en.wikipedia.org/wiki/Maidenhead_railw...,51.519Â°N 0.723Â°W,51.519,-0.7230
3,Taplow,https://en.wikipedia.org/wiki/Taplow_tube_station,https://en.wikipedia.org/wiki/Taplow_railway_s...,51.524Â°N 0.681Â°W,51.524,-0.6810
4,Burnham,https://en.wikipedia.org/wiki/Burnham_tube_sta...,https://en.wikipedia.org/wiki/Burnham_railway_...,51.524Â°N 0.646Â°W,51.524,-0.6460

### UK International Airports

Source from https://en.wikipedia.org/wiki/List_of_international_airports_by_country#United_Kingdom

In [39]:
df_airports = pd.read_csv("https://raw.githubusercontent.com/omeyrick/PlacesToLive/master/data/international_airports.csv")
df_airports.head()

,Location,Airport,IATA Code,Passenger Role,2015 Passengers,2015 Daily Avg.,link,location,latitude,longitude
0,Birmingham,Birmingham International Airport,BHX,Medium,"10,187,122","27,910",https://en.wikipedia.org/wiki/Birmingham_Inter...,52°27′14″N001°44′53″W,52.453889,-1.748056
1,Bournemouth,Bournemouth Airport,BOH,Small,"705,403","1,933",https://en.wikipedia.org/wiki/Bournemouth_Airport,50.78000Â°N 1.84250Â°W,50.780000,-1.842500
2,Bristol,Bristol Airport,BRS,Medium,"6,786,790","18,594",https://en.wikipedia.org/wiki/Bristol_Airport,51.38278Â°N 2.71917Â°W,51.382780,-2.719170
3,Cardiff,Cardiff Airport,CWL,Small,"1,160,506","3,179",https://en.wikipedia.org/wiki/Cardiff_Airport,51.39667Â°N 3.34333Â°W,51.396670,-3.343330
4,Doncaster/Sheffield,Robin Hood Airport Doncaster Sheffield,DSA,Small,"856,952","2,348",https://en.wikipedia.org/wiki/Robin_Hood_Airpo...,53.47528Â°N 1.00417Â°W,53.475280,-1.004170

In [40]:
import plotly.plotly as py
from plotly.graph_objs import *

mapbox_access_token = 'pk.eyJ1Ijoib21leXJpY2siLCJhIjoiY2l6dm1uZmM4MDAwdjMzbzBoOGhhNWM3NyJ9.ztyR2B5aLZ49mMfZzEWhig'

data = Data([
    Scattermapbox(
        legendgroup='Places',
        name='Times Places To Live Survey',
        lat=df_times['latitude'],
        lon=df_times['longitude'],
        text=df_times['Place'],
        mode='markers',
        marker=Marker(
            size=20,
            color='rgb(63,81,181)',
            opacity=0.3
        ),
    ),
    Scattermapbox(
        legendgroup='Places',
        name='Halifax Quality of Life Survey',
        lat=df_qol['latitude'],
        lon=df_qol['longitude'],
        text=df_qol['Local Authority'],
        mode='markers',
        marker=Marker(
            size=20,
            color='rgb(33,150,243)',
            opacity=0.3
        ),
    ),
    #Scattermapbox(
    #    legendgroup='Places',
    #    name='Top Places For Artists',
    #    lat=df_art['latitude'],
    #    lon=df_art['longitude'],
    #    text=df_art['location'],
    #    mode='markers',
    #    marker=Marker(
    #        size=10,
    #        color='rgb(244,220,191)',
    #        opacity=0.5
    #    ),
    #),
    Scattermapbox(
        legendgroup='Schools',
        name='HMC Schools',
        lat=df_hmc['latitude'],
        lon=df_hmc['longitude'],
        text=df_hmc['hmc school'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(13, 71, 161)',
            opacity=0.7
        ),
    ),
    #Scattermapbox(
    #    name='Crown Post Offices',
    #    lat=df_post_offices['latitude'],
    #    lon=df_post_offices['longitude'],
    #    text=df_post_offices['branch_name'],
    #    mode='markers',
    #    marker=Marker(
    #        size=6,
    #        color='rgb(184, 16, 16)',
    #        opacity=0.7
    #    ),
    #),
    Scattermapbox(
        legendgroup='Transport',
        name='Cross Rail Stations',
        lat=df_crossrail['latitude'],
        lon=df_crossrail['longitude'],
        text=df_crossrail['cross rail station'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(156, 39, 176)',
            opacity=0.7,
        ),
    ),
    Scattermapbox(
        legendgroup='Schools',
        name='Outstanding Secondaries',
        lat=df_secondary_offsted['latitude'],
        lon=df_secondary_offsted['longitude'],
        text=df_secondary_offsted['School name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(33, 150, 243)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        legendgroup='Schools',
        name='Outstanding Primaries',
        lat=df_primary_offsted['latitude'],
        lon=df_primary_offsted['longitude'],
        text=df_primary_offsted['School name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(66,165,245)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        legendgroup='Services',
        name='Waitrose',
        lat=df_waitrose['latitude'],
        lon=df_waitrose['longitude'],
        text=df_waitrose['store name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(76, 175, 80)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        legendgroup='Transport',
        name='International Airports',
        lat=df_airports['latitude'],
        lon=df_airports['longitude'],
        text=df_airports['Airport'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(74,20,140)',
        ),
    ),
    Scattermapbox(
        legendgroup='Places',
        name='Top UK Tech Centres',
        lat=df_tech['latitude'],
        lon=df_tech['longitude'],
        text=df_tech['city'],
        mode='markers',
        marker=Marker(
            size=12,
            color='rgb(237, 2, 11)',
            opacity=0.5
        ),
    )]
)

layout = Layout(
    autosize=True,
    hovermode='closest',
    showlegend=True,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=52,
            lon=-1   
        ),
        zoom=6,
        style='basic'
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Places to live')

In [22]:
df_stations = pd.read_csv("/Users/OliverM/Code/PlacesToLive/data/Base_data/station_data.csv")

In [27]:
df_stations['1516 Entries & Exits'] = df_stations['1516 Entries & Exits'].str.replace(',' , '')
df_stations['1516 Entries & Exits'] = df_stations['1516 Entries & Exits'].str.replace(':' , '')
#df_stations['1516 Entries & Exits'] = df_stations['1516 Entries & Exits'].astype('float')
df_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 33 columns):
NLC                                                                                       2553 non-null float64
TLC                                                                                       2557 non-null object
Station Name                                                                              2557 non-null object
Region                                                                                    2557 non-null object
Local Authority                                                                           2557 non-null object
Constituency                                                                              2557 non-null object
OS Grid Easting                                                                           2557 non-null int64
OS Grid Northing                                                                          2557 non-null int64
Station Facility Owner                                                                    2557 non-null object
Station Group                                                                             154 non-null object
PTE Urban Area Station                                                                    526 non-null object
London Travelcard Area                                                                    348 non-null object
SRS Code                                                                                  2553 non-null object
SRS Description                                                                           2553 non-null object
NR Route                                                                                  2553 non-null object
CRP Line Designation                                                                      158 non-null object
Entries_Full                                                                              2557 non-null object
Entries_Reduced                                                                           2557 non-null object
Entries_Season                                                                            2557 non-null object
Entries_Total                                                                             2557 non-null object
Exits_Full                                                                                2557 non-null object
Exits_Reduced                                                                             2557 non-null object
Exits_Season                                                                              2557 non-null object
Exits_Total                                                                               2557 non-null object
1516 Entries & Exits                                                                      2557 non-null object
Estimated absolute change in Usage due to 2015/16 London Travelcard Methodology           2557 non-null object
1415 Entries & Exits                                                                      2557 non-null object
1516 Interchanges                                                                         2557 non-null object
Estimated absolute change in Interchanges due to 2015/16 London Travelcard Methodology    2557 non-null object
Large station change flag                                                                 2553 non-null float64
Small station change flag                                                                 2553 non-null float64
Explanation of large change                                                               389 non-null object
Source for explanation of large change                                                    110 non-null object
dtypes: float64(3), int64(2), object(28)
memory usage: 659.3+ KB

In [24]:
df_stations.sort_values(by='1516 Entries & Exits', ascending=False)

,NLC,TLC,Station Name,Region,Local Authority,Constituency,OS Grid Easting,OS Grid Northing,Station Facility Owner,Station Group,...,Exits_Total,1516 Entries & Exits,Estimated absolute change in Usage due to 2015/16 London Travelcard Methodology,1415 Entries & Exits,1516 Interchanges,Estimated absolute change in Interchanges due to 2015/16 London Travelcard Methodology,Large station change flag,Small station change flag,Explanation of large change,Source for explanation of large change
249,2352.0,BDL,Birkdale,North West,Sefton,Southport,333018,415759,Merseyrail,NaN,...,"499,879",999758,-,"954,774",-,-,0.0,0.0,NaN,NaN
1885,3247.0,RDA,Redland,South West,City of Bristol,Bristol West,358480,174550,Great Western Railway,NaN,...,"49,866",99732,-,"105,610",-,-,0.0,0.0,NaN,NaN
365,5687.0,BKO,Brookwood,South East,Woking,Woking,495200,156954,South West Trains,NaN,...,"497,571",995142,"-1,333","989,826","61,231",-4,0.0,0.0,NaN,NaN
889,5035.0,FKC,Folkestone Central,South East,Shepway,Folkestone and Hythe,622084,136286,Southeastern,FOLKESTONE BR,...,"497,284",994568,-809,"1,037,218","12,192",5,0.0,0.0,NaN,NaN
2180,4558.0,SAV,Stratford-Upon-Avon,West Midlands,Stratford-on-Avon,Stratford-on-Avon,419490,255150,London Midland Trains,NaN,...,"497,035",994070,-,"995,752",4,-,0.0,0.0,NaN,NaN
406,6913.0,BHK,Bush Hill Park,London,Enfield (London),Edmonton,533700,195400,London Overground,NaN,...,"496,140",992280,"-21,056","825,372",-,-,1.0,0.0,London Stations Methodology Change,NaN
1558,9985.0,MLN,Milngavie,Scotland,East Dunbartonshire,East Dunbartonshire,255535,674455,ScotRail,NaN,...,"496,101",992202,-,"998,354",-,-,0.0,0.0,NaN,NaN
238,6170.0,BIW,Biggleswade,East,Central Bedfordshire,North East Bedfordshire,519241,244351,Govia Thameslink Railway,NaN,...,"496,041",992082,-34,"943,358",-,-,0.0,0.0,NaN,NaN
2380,5158.0,WAE,Waterloo (East),London,Lambeth (London),Vauxhall,531350,180044,Southeastern,LONDON BR,...,"4,960,324",9920648,"1,344,735","7,871,882","1,096,005","-424,464",1.0,0.0,London Stations Methodology Change,NaN
136,9013.0,BSI,Balmossie,Scotland,Angus,Dundee East Burgh,348417,731698,ScotRail,NaN,...,496,992,-,"1,092",-,-,0.0,0.0,NaN,NaN
2379,5598.0,WAT,Waterloo,London,Lambeth (London),Vauxhall,531060,179950,Network Rail,LONDON BR,...,"49,574,194",99148388,"-4,972,897","99,201,604","6,097,879","-3,170,249",0.0,0.0,NaN,NaN
33,5132.0,AYP,Albany Park,London,Bexley (London),Old Bexley and Sidcup,547855,172860,Southeastern,NaN,...,"495,575",991150,"-71,782","1,048,330",-,-,0.0,0.0,NaN,NaN
372,6958.0,BCV,Bruce Grove,London,Haringey (London),Tottenham,533795,190110,London Overground,NaN,...,"495,075",990150,"119,172","581,492",-,-,1.0,0.0,London Stations Methodology Change,NaN
1599,3859.0,MTA,Mountain Ash,Wales - Cymru,"Rhondda, Cynon, Taf - Rhondda, Cynon, Taff",Cynon Valley,304940,198960,Arriva Trains Wales,NaN,...,"49,460",98920,-,"96,728",-,-,0.0,0.0,NaN,NaN
2411,3188.0,WEA,West Ealing,London,Ealing (London),Ealing North,516666,180735,Great Western Railway,NaN,...,"494,534",989068,"-202,063","1,347,024","1,850",519,1.0,0.0,London Stations Methodology Change,NaN
145,7563.0,BLL,Bardon Mill,North East,Northumberland,Hexham,377918,564486,Northern,NaN,...,"4,940",9880,-,"9,328",-,-,0.0,0.0,NaN,NaN
165,1903.0,BWS,Barrow-Upon-Soar,East Midlands,Charnwood,Loughborough,457820,317200,East Midlands Trains,NaN,...,"49,354",98708,-2,"93,010",-,-,0.0,0.0,NaN,NaN
1245,8925.0,KEH,Keith,Scotland,Moray,Moray,343000,851600,ScotRail,NaN,...,"49,333",98666,-,"102,074",-,-,0.0,0.0,NaN,NaN
2044,2000.0,SIC,Silecroft,North West,Copeland,Copeland,313100,481960,Northern,NaN,...,"4,931",9862,-,"10,372",-,-,0.0,0.0,NaN,NaN
1965,5025.0,SDG,Sandling,South East,Shepway,Folkestone and Hythe,614806,136811,Southeastern,NaN,...,"49,250",98500,-2,"107,080",-,-,0.0,0.0,NaN,NaN
1365,5111.0,LEN,Lenham,South East,Maidstone,Faversham and Mid Kent,589130,151850,Southeastern,NaN,...,"49,190",98380,6,"108,194",-,-,0.0,0.0,NaN,NaN
1740,3213.0,PWY,Patchway,South West,South Gloucestershire,Filton and Bradley Stoke,361060,180930,Great Western Railway,NaN,...,"49,148",98296,-,"92,540",-,-,0.0,0.0,NaN,NaN
1672,6875.0,NFA,North Fambridge,East,Maldon,Maldon,585622,197826,East Anglia,NaN,...,"49,000",98000,2,"92,784",-,-,0.0,0.0,NaN,NaN
2239,7521.0,TEA,Tees-Side Airport,North East,Darlington,Sedgefield,437300,513800,Northern,NaN,...,49,98,-,32,-,-,0.0,1.0,"Very small station, absolute change in journey...",NaN
264,5945.0,BTE,Bitterne,South East,City of Southampton,"Southampton, Itchen",443890,113380,South West Trains,NaN,...,"48,973",97946,-2,"104,102",-,-,0.0,0.0,NaN,NaN
2428,5151.0,WCB,Westcombe Park,London,Greenwich (London),Greenwich and Woolwich,540245,178070,Southeastern,NaN,...,"489,516",979032,"-59,766","1,120,846",-,-,1.0,0.0,London Stations Methodology Change,NaN
342,6810.0,BMD,Brimsdown,London,Enfield (London),Enfield North,536315,197035,East Anglia,NaN,...,"489,155",978310,"131,032","764,160",-,-,1.0,0.0,London Stations Methodology Change,NaN
1403,4226.0,LLT,Llanbister Road,Wales - Cymru,Powys - Powys,Brecon and Radnorshire,317420,271620,Arriva Trains Wales,NaN,...,489,978,-,"1,242",-,-,0.0,0.0,NaN,NaN
2510,7467.0,WGR,Woodgrange Park,London,Newham (London),East Ham,541850,185355,London Overground,NaN,...,"488,824",977648,"209,600","750,758",-,-,1.0,0.0,London Stations Methodology Change,NaN
1375,7403.0,LER,Leytonstone High Road,London,Waltham Forest (London),Leyton and Wanstead,539310,186875,London Overground,NaN,...,"488,817",977634,"-40,344","1,001,820",-,-,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,5403.0,BXW,Boxhill & Westhumble,South East,Mole Valley,Mole Valley,516744,151865,Govia Thameslink Railway,NaN,...,"50,932",101864,6,"102,914",-,-,0.0,0.0,NaN,NaN
2521,4540.0,WWW,Wootton Wawen,West Midlands,Stratford-on-Avon,Stratford-on-Avon,414790,263215,London Midland Trains,NaN,...,"5,093",10186,-,"10,472",-,-,0.0,0.0,NaN,NaN
769,5134.0,EML,East Malling,South East,Tonbridge and Malling,Tonbridge and Malling,570200,156900,Southeastern,NaN,...,"50,919",101838,11,"99,628",-,-,0.0,0.0,NaN,NaN
48,1223.0,ASG,Alsager,North West,Cheshire East,Congleton,380070,355130,East Midlands Trains,NaN,...,"50,897",101794,-,"96,292",-,-,0.0,0.0,NaN,NaN
780,9915.0,EBV,Ebbw Vale Parkway,Wales - Cymru,Blaenau Gwent - Blaenau Gwent,Blaenau Gwent,317539,207172,Arriva Trains Wales,NaN,...,"50,817",101634,-,"253,904",-,-,1.0,0.0,Demand split between Ebbw Vale Parkway and Ebb...,NaN
1038,5037.0,HMT,Ham Street,South East,Ashford,Ashford,600090,133770,Govia Thameslink Railway,NaN,...,"50,808",101616,-147,"97,164",-,-,0.0,0.0,NaN,NaN
2125,6973.0,SJS,St.James' Street,London,Waltham Forest (London),Walthamstow,536393,188735,London Overground,NaN,...,"508,076",1016152,"-286,444","970,494",-,-,0.0,0.0,NaN,NaN
220,7330.0,BYA,Berney Arms,East,Broadland,Broadland,646000,305300,East Anglia,NaN,...,508,1016,-,"1,396",-,-,0.0,1.0,"Very small station, absolute change in journey...",NaN
1928,4606.0,ROW,Rowley Regis,West Midlands,Sandwell,Halesowen and Rowley Regis,398000,286600,London Midland Trains,NaN,...,"507,754",1015508,-1,"921,116",-,-,1.0,0.0,NaN,NaN
162,9467.0,BRL,Barrhill,Scotland,South Ayrshire,"Ayr, Carrick and Cumnock",222600,581600,ScotRail,NaN,...,"5,075",10150,-,"11,016",-,-,0.0,0.0,NaN,NaN
538,4069.0,CLR,Clarbeston Road,Wales - Cymru,Sir Benfro - Pembrokeshire,Preseli Pembrokeshire,201500,220940,Arriva Trains Wales,NaN,...,"5,069",10138,-,"11,046",-,-,0.0,0.0,NaN,NaN
2364,7408.0,WNP,Wanstead Park,London,Newham (London),West Ham,540580,185590,London Overground,NaN,...,"506,539",1013078,"161,953","845,926","5,265",1,1.0,0.0,London Stations Methodology Change,NaN
134,5399.0,BAL,Balham,London,Wandsworth (London),Battersea,528500,173200,Govia Thameslink Railway,NaN,...,"5,057,263",10114526,"2,382,972","7,643,798","451,220","36,025",1.0,0.0,London Stations Methodology Change,NaN
1904,9920.0,RCA,Risca and Pontymister,Wales - Cymru,Caerffili - Caerphilly,Islwyn,324458,190233,Arriva Trains Wales,NaN,...,"50,480",100960,-,"107,786",-,-,0.0,0.0,NaN,NaN
1281,9517.0,KWN,Kilwinning,Scotland,North Ayrshire,North Ayrshire and Arran,229600,643600,ScotRail,NaN,...,"504,629",1009258,-,"989,144","134,862",-,0.0,0.0,NaN,NaN
2069,7320.0,SYT,Somerleyton,East,Waveney,Waveney,647930,296530,East Anglia,NaN,...,"5,046",10092,-,"10,610",-,-,0.0,0.0,NaN,NaN
972,2962.0,GTO,Gorton,North West,Manchester,"Manchester, Gorton",389064,396939,Northern,NaN,...,"50,432",100864,-,"99,428",-,-,0.0,0.0,NaN,NaN
1774,4887.0,PSH,Pershore,West Midlands,Wychavon,West Worcestershire,395200,248030,Great Western Railway,NaN,...,"50,345",100690,5,"95,310",-,-,0.0,0.0,NaN,NaN
1526,5149.0,MZH,Maze Hill,London,Greenwich (London),Greenwich and Woolwich,539175,177865,Southeastern,NaN,...,"503,429",1006858,"64,939","1,025,418",-,-,0.0,0.0,NaN,NaN
2398,1347.0,WEM,Wem,West Midlands,Shropshire,North Shropshire,351750,329010,Arriva Trains Wales,NaN,...,"50,339",100678,-,"102,958",-,-,0.0,0.0,NaN,NaN
29,2350.0,ANS,Ainsdale,North West,Sefton,Southport,331101,412224,Merseyrail,NaN,...,"502,277",1004554,-,"983,858",-,-,0.0,0.0,NaN,NaN
1284,9142.0,KGH,Kinghorn,Scotland,Fife,Kirkcaldy and Cowdenbeath,327000,686900,ScotRail,NaN,...,"50,189",100378,-,"99,826",-,-,0.0,0.0,NaN,NaN
1208,2160.0,HUY,Huyton,North West,Knowsley,Knowsley,344060,390650,Northern,NaN,...,"501,366",1002732,-,"952,688","18,728",-,0.0,0.0,"Electrification completed 2015, now operated b...",http://www.railmagazine.com/trains/new-trains/...
1883,1208.0,RDC,Redditch,West Midlands,Redditch,Redditch,403830,267580,London Midland Trains,NaN,...,"501,147",1002294,-7,"860,670",-,-,1.0,0.0,"Passing loop added, facilitating more trains s...",http://www.rail.co.uk/rail-news/2014/rail-uk-r...
1249,1384.0,KMH,Kempston Hardwick,East,Bedford,Mid Bedfordshire,502593,244819,London Midland Trains,NaN,...,"5,011",10022,2,"7,712",-,-,1.0,0.0,NaN,NaN
480,5820.0,CPN,Chapelton,South West,North Devon,North Devon,258075,126080,Great Western Railway,NaN,...,50,100,-,192,-,-,0.0,1.0,"Very small station, absolute change in journey...",NaN
1492,NaN,MUF,Manchester United Football Ground,North West,Trafford,Stretford and Urmston,380800,396200,Northern,NaN,...,:,,:,:,:,:,NaN,NaN,Station included for consistency with other pu...,NaN
1107,NaN,HAF,Heathrow Terminal 4,London,Hillingdon (London),Hayes and Harlington,508100,174400,Heathrow Express,NaN,...,:,,:,:,:,:,NaN,NaN,Station included for consistency with other pu...,NaN
1108,NaN,HWV,Heathrow Terminal 5,London,Hillingdon (London),Hayes and Harlington,504938,175645,Heathrow Express,NaN,...,:,,:,:,:,:,NaN,NaN,Station included for consistency with other pu...,NaN
1109,NaN,LHR,Heathrow Terminals 2 & 3,London,Hillingdon (London),Hayes and Harlington,507453,175848,Heathrow Express,NaN,...,:,,:,:,:,:,NaN,NaN,Station included for consistency with other pu...,NaN

In [25]:
df_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 33 columns):
NLC                                                                                       2553 non-null float64
TLC                                                                                       2557 non-null object
Station Name                                                                              2557 non-null object
Region                                                                                    2557 non-null object
Local Authority                                                                           2557 non-null object
Constituency                                                                              2557 non-null object
OS Grid Easting                                                                           2557 non-null int64
OS Grid Northing                                                                          2557 non-null int64
Station Facility Owner                                                                    2557 non-null object
Station Group                                                                             154 non-null object
PTE Urban Area Station                                                                    526 non-null object
London Travelcard Area                                                                    348 non-null object
SRS Code                                                                                  2553 non-null object
SRS Description                                                                           2553 non-null object
NR Route                                                                                  2553 non-null object
CRP Line Designation                                                                      158 non-null object
Entries_Full                                                                              2557 non-null object
Entries_Reduced                                                                           2557 non-null object
Entries_Season                                                                            2557 non-null object
Entries_Total                                                                             2557 non-null object
Exits_Full                                                                                2557 non-null object
Exits_Reduced                                                                             2557 non-null object
Exits_Season                                                                              2557 non-null object
Exits_Total                                                                               2557 non-null object
1516 Entries & Exits                                                                      2557 non-null object
Estimated absolute change in Usage due to 2015/16 London Travelcard Methodology           2557 non-null object
1415 Entries & Exits                                                                      2557 non-null object
1516 Interchanges                                                                         2557 non-null object
Estimated absolute change in Interchanges due to 2015/16 London Travelcard Methodology    2557 non-null object
Large station change flag                                                                 2553 non-null float64
Small station change flag                                                                 2553 non-null float64
Explanation of large change                                                               389 non-null object
Source for explanation of large change                                                    110 non-null object
dtypes: float64(3), int64(2), object(28)
memory usage: 659.3+ KB

In [53]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'http://ojp.nationalrail.co.uk/service/timesandfares/London/SMD/today/0800/dep?excludeslowertrains'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'lxml')

time = soup.select("table td[class*=dur]")
changes = soup.select("table a[class*=changestip-link]")
strip_list = []
clean_list = []
change_list = []

for i in time:
    strip_list.append(i.text.strip())
    
for n in strip_list:
    clean_list.append(n.replace('h\n\t\t','.'))

for i in changes:
    change_list.append(i.text.strip())

In [85]:
df_train_times = pd.DataFrame(columns=['station', 'time', 'changes'])
df_station_times = pd.DataFrame(columns=['station', 'time', 'changes'])

In [22]:
df_train_times

Empty DataFrame
Columns: [station, time, changes]
Index: []

In [46]:
strip_list

['1h\n\t\t34m', '1h\n\t\t34m', '1h\n\t\t34m', '1h\n\t\t34m', '1h\n\t\t34m']

In [47]:
clean_list

['1.34m', '1.34m', '1.34m', '1.34m', '1.34m']

In [90]:
df_station_times['changes'] = change_list
df_station_times['time'] = clean_list
df_station_times['station'] = 'SMD'

df_train_times['changes'] = change_list
df_train_times['time'] = clean_list
df_train_times['station'] = 'ARSE'

In [91]:
df_station_times

  station   time changes
0     SMD  1.34m       1
1     SMD  1.34m       1
2     SMD  1.34m       1
3     SMD  1.34m       1
4     SMD  1.34m       1

In [92]:
df_train_times

  station   time changes
0    ARSE  1.34m       1
1    ARSE  1.34m       1
2    ARSE  1.34m       1
3    ARSE  1.34m       1
4    ARSE  1.34m       1

In [93]:
result = pd.concat([df_station_times, df_train_times])

In [94]:
result

  station   time changes
0     SMD  1.34m       1
1     SMD  1.34m       1
2     SMD  1.34m       1
3     SMD  1.34m       1
4     SMD  1.34m       1
0    ARSE  1.34m       1
1    ARSE  1.34m       1
2    ARSE  1.34m       1
3    ARSE  1.34m       1
4    ARSE  1.34m       1